body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
}

.fact {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #32b167
}
.btn{
    margin-top: 10px;
    position: relative;
}

.search-bar{
    display: flex;
    margin: 0 auto;
    width: 590px; height: 50px; border: 3px solid #bf2727; padding: 5px;
    border-radius: 30px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.Family{
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pokeImage{
    background-color: #bf2727;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokeImage:nth-child(even) {
    margin: 50px;
}
.first{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pfp {
    width: 246px;
    height: 246px;
    left: 93px;
    vertical-align: middle;
    border: 20px solid;
    border-color: black;
    border-radius: 50%;
    background-color: #5ee897;
  }
.usertag {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    position:relative;
    background-color: pink;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
#imageid {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 95%;
}