body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: black;
}

.subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
}
a { 
    text-decoration: none; 
    color: white;
    margin: 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.fact {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #32b167
}
.btn{
    margin-top: 10px;
    position: relative;
}

